a{
text-decoration:none!important;}

.selected{
  box-shadow:0px 4px 22px 4px #f9a533;
}

.img-overlay {
  position: relative;
  max-width: 500px;
  z-index:20;
}

.project-overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.35);
  color: #fff;
  padding: 50%;
  padding: 50%;


}

.text {
  position:relative;
  max-width: 500px;
  margin-top:-250px;
  color:white;
  z-index:22;

}
.text h3{

  text-transform:uppercase;
  font-size:24px;
  font-weight:600;
  text-align:center;
  margin-bottom:-10px;
}

.text p{

  color:white;
  font-weight:600;
  text-align:center;
}

.project{min-height:300px; }



.btn-circle {
  background-color:white;
  border-radius:1px solid #f9a533;

  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


.heading{
  width:320px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.display-pic{
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

label.btn.btn-primary.toggle-on{background-color:#e6e6e6;}
label.btn.btn-default.active.toggle-off{background-color:#f03737;}

.thumbnail.img-responsive{width:100%;height:180px;border:none;padding:0px 0px;}

#promo-3{
  background-size:cover;
  position:relative;
  background-attachment:fixed;
  z-index:1;
  height:438px;
}

.fa.fa-arrow-left{
  transform:scale(1.5,1.2);
  color:#f9a533
}

.fa.fa-whatsapp{
  font-size:20px;
  color:#f9a533;
}

.btn.btn-primary.round{
  border-radius:24px;
  background-color:#f9a533;
  border-color:#f9a533;
  position:relative;
  z-index:1;
}

.overlay{
  position:absolute;
  top:0;
  opacity:0.6;
  z-index:-1;
  background-color:black;
  width:100%;
  height:100%;
}

div.content-block{
  padding:0; 
  background-color:#d1d1d1
}

.content-block .vertical-align{
  margin-left:-15px;
  margin-right:-15px;
  display:flex;
  min-height:40px;
}

.content-block .vertical-align>div{
  color:white; 
  display:flex;
  justify-content:center;
  align-items:center;
}

.home-content{
  margin-top:10px;
}

.card.d-card{
  width:100%;
  margin:0 auto;
  margin-top:15px;
  margin-bottom:10px; 
}

.img-overlay>div:first-child{
  height:280px;
  background-size:cover;
  width:100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#myModal{
  padding-top:30px;
}

#myModal .modal-dialog{
  overflow-y: initial !important;
  margin-top:40px;
}

#magazine_body{
  overflow-y: auto;
  height:200px;
}

div[data-target="#createMagazine"]{
  padding-left:0px;
  padding-right:5px; 
  background-color:#dedede;
  color:black;
  height:180px;
  line-height:180px;
}

div[data-target="#createMagazine"]>a{
  color:#f9a533;
  font-size:15px;
}

.modal-footer button{
  background-color:#f9a533;
  color:white;
  border-color:white;
}

.modal#createMagazine{
  padding-top:30px;
}

#createMagazine .modal-dialog{
  margin-top:40px;
}

#createMagazine .modal-body{
  height:425px;
}

#createMagazine .modal-body #title{
  width:100%;
  padding:10px;
  margin-bottom:20px; 
  border:1px solid #e6e6e6;
  border-radius:5px;
}

#createMagazine .modal-body #description{
  width:100%;
  margin-bottom:20px;
  min-height:150px;
  border:1px solid #e6e6e6;
  border-radius:5px;
}

#createMagazine .modal-body>div{
  margin:20px 0;
}

.modal{
  padding-top:30px;
}

.modal#setcoverpic .modal-dialog{
  overflow-y: initial !important
}

.modal#setcoverpic .modal-body#magazine_body{
  overflow-y: auto;
  height:400px;
}

.modal#setcoverpic .modal-body #title_magazine{
  width:100%;
  padding:10px;
  margin-bottom:20px; 
  border:1px solid #e6e6e6;
  border-radius:5px;
}

.modal#setcoverpic .modal-body #description_magazine{
  width:100%;
  padding:10px;
  margin-bottom:20px; 
  border:1px solid #e6e6e6;
  border-radius:5px;
}

.modal#share_modal{
  z-index:2000;
}

.modal#share_modal .modal-body #email{
  width:100%;
  padding:10px;
  margin-bottom:20px; 
  border:1px solid #e6e6e6;
  border-radius:5px;
}

.modal#share_modal .modal-body #sender{
  width:100%;
  padding:10px;
  margin-bottom:20px; 
  border:1px solid #e6e6e6;
  border-radius:5px;
}

.modal#share_modal .modal-body #message{
  width:100%;
  padding:10px;
  margin-bottom:20px; 
  border:1px solid #e6e6e6;
  border-radius:5px;
}

#search{
  width: 100%;
}