.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;    
  color: #333;
  background-color: #fff;
  border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}

.circle {
  position: relative;
  display: inline-block;
  width:90px;
  height:90px; 
  margin-top: 25px;
  border-radius: 50%;
  
  /* Just making it pretty */
  @shadow: rgba(0, 0, 0, .1);
  @shadow-length: 4px;
  -webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
  box-shadow: 0 @shadow-length 0 0 @shadow;
  text-shadow: 0 @shadow-length 0 @shadow;
  background: rgb(253, 111, 45);
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 60px;
  text-align: center;
}



.flex-item {
 margin: 10px;
 background-color:#91AA9D;
}

.nav-pills > li{
  border:1px solid #f9a533;
  border-radius:5px;

}

.img-overlay {
  position: relative;
  max-width: 500px;
  z-index:20;
}

.project-overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.35);
  color: #fff;
  /*padding: 50%;*/
}

.text {
  position:relative;
  max-width: 500px;
  margin-top:-250px;
  color:white;
  z-index:22;
  
}
.text h3{

  text-transform:uppercase;
  font-size:24px;
  font-weight:600;
  text-align:center;
  margin-bottom:-10px;
}

.text p{

  color:white;
  font-weight:600;
  text-align:center;
}

.project{min-height:300px;}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#featured-container{
  height: 420px;
}

a[href="/login/"]{
  border:none;
  font-size:14px;
}

.showNav{
  font-size:25px;
  color:#ffb414;
}

.showNav-wrapper{
  position:absolute;
  left:0;
  padding:1em;
}

.thumbnail{
  width:auto;
  height:120px;
  margin-bottom:0;
  border:none;
  border-radius:0;
  position:relative;
}

#edit-image{
  position:absolute;
  top:5px;
  right:5px;
}

#file-loader{
  display:none
}

.uil-gps-css{
  transform:scale(0.15);
  width:300px;
  height:50px;
}

.section-1{
  width:100%;
  padding:0;
}

.section-1 .child-1{
  background-color:#f9a533;
  width:100%;
  height:10px;
  margin:0;
  position:relative;
}

.section-1 .child-1 .child-child-1{
  background-color:black;
  position:absolute;
  z-index:1;
  width:50%;
  height:10px;
  right:0;
}

.modal#edit_profile{
  margin-top:40px;
  position:absolute;
  padding-top:30px;
}

.modal-body{
  height:425px;
}

.modal-body>div{
  margin:20px 0;
}

.modal-body>div>input{
  width:100%;
  padding:10px;
  margin-bottom:10px; 
  border:1px solid #e6e6e6;
}

.mob-nav-list-wrapper{
  overflow:hidden;
  padding:0;
  position:relative;
}

.circle-small{
  margin-top:-6px;
  width:30px;
  height:30px;
  background-image:url('http://ec2-54-70-76-23.us-west-2.compute.amazonaws.com/media/profile_image/defaultuser.png');
  border-radius:50%;
  background-position:center center;
  background-size:cover;
}

.vertical-cat>li>a>span{
  margin-right:10px;
}